.page-layout{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:100%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family:Arial, Helvetica, sans-serif;
}

button{
  width:200px;
  display:flex;
  justify-content:center;
  border:1px solid green;
  background-color:green;
  color:white;
  padding-top:5px;
  padding-bottom:5px;
}

.page-content{
  padding-left:20px;
  padding-right:20px;
  padding-top:30px;
}

input, textarea{
  width:400px;
  padding-left:10px;
  background-color: whitesmoke;
  border:1px solid black;
}

input{
  height:60px;
}

textarea{
  height:200px;
}

h2{
  font-size:28px;
}

h3{
  font-size:24px;
}

p,input,pre{
  font-size:20px;
}

.page-title{
  margin-bottom:20px;
}

pre{
  white-space: pre-wrap;
}
